<?xml version="1.0" encoding="utf-8"?>
<CodeSnippet Format="1.0.0">
  <Header>
    <Title>FileHeader</Title>
    <Shortcut>header</Shortcut>
    <Description>Adds default header with custom literals</Description>
    <Author>Cristiano Luelli</Author>
  </Header>
  <Snippet>
    <Declarations>
      <Literal>
        <ID>Solution</ID>
        <ToolTip>Solution</ToolTip>
        <Default>Everyware</Default>
      </Literal>
      <Literal>
        <ID>Copyright</ID>
        <ToolTip>Copyright Year</ToolTip>
        <Default>2025</Default>
      </Literal>
      <Literal>
        <ID>Company</ID>
        <ToolTip>Company</ToolTip>
        <Default>CLS</Default>
      </Literal>
      <Literal>
        <ID>Project</ID>
        <ToolTip>Project</ToolTip>
        <Default>Elseware</Default>
      </Literal>
      <Literal>
        <ID>FileName</ID>
        <ToolTip>File Name</ToolTip>
        <Default></Default>
      </Literal>
      <Literal>
        <ID>Year</ID>
        <ToolTip>Year</ToolTip>
        <Default>2025</Default>
      </Literal>
      <Literal>
        <ID>Release</ID>
        <ToolTip>Release</ToolTip>
        <Default>1</Default>
      </Literal>
      <Literal>
        <ID>Build</ID>
        <ToolTip>Build</ToolTip>
        <Default>0</Default>
      </Literal>
      <Literal>
        <ID>Patch</ID>
        <ToolTip>Patch</ToolTip>
        <Default>0001</Default>
      </Literal>
      <Literal>
        <ID>CreatedBy</ID>
        <ToolTip>Created By</ToolTip>
        <Default>Cristiano Luelli</Default>
      </Literal>
      <Literal>
        <ID>CreatedOn</ID>
        <ToolTip>Created On</ToolTip>
        <Default></Default>
      </Literal>
      <Literal>
        <ID>LastChangedBy</ID>
        <ToolTip>Last Changed By</ToolTip>
        <Default>Cristiano Luelli</Default>
      </Literal>
      <Literal>
        <ID>LastChangedOn</ID>
        <ToolTip>Last Changed On</ToolTip>
        <Default></Default>
      </Literal>
    </Declarations>
    <Code Language="csharp"><![CDATA[
/*
$Solution$ - Copyright © $Copyright$ by $Company$

********************************************************************************************************************************************
****
**** Project:           $Project$
****
**** Module:            $FileName$
****
**** Version:           $Year$.$Release$.$Build$.$Patch$
****
**** Created By:        $CreatedBy$
**** Created On:        $CreatedOn$
****
**** Last Changed By:   $LastChangedBy$
**** Last Changed On:   $LastChangedOn$
****
********************************************************************************************************************************************

$Solution$ - Copyright © $Copyright$ by $Company$
*/
]]>
    </Code>
  </Snippet>
</CodeSnippet>
