
/*
Everyware - Copyright © 2025 by CLS

********************************************************************************************************************************************
****
**** Project:           Someware
****
**** Module:            MainLayout.razor.css
****
**** Version:           2025.1.0.0001
****
**** Created By:        Cristiano Luelli
**** Created On:        27/08/2025
****
**** Last Changed By:   Cristiano Luelli
**** Last Changed On:   06/09/2025
****
**** Defines layout styles for the main application shell.
****
********************************************************************************************************************************************

Everyware - Copyright © 2025 by CLS
*/


/************************/
/**** PAGE STRUCTURE ****/
/************************/

.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}


/***********************/
/**** SIDEBAR STYLE ****/
/***********************/

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}


/************************/
/**** TOP ROW HEADER ****/
/************************/

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }


/********************************/
/**** RESPONSIVE ADJUSTMENTS ****/
/********************************/

@media (max-width: 640.98px) {
    .top-row {
        justify-content: space-between;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: auto;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth ::deep a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
